<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fairfield eregistrar</title>
</head>
<style>
  table, th, td {
    border: 1px solid;
  }
</style>
<body>
<h1>Welcome to Fairfield eregistrar!</h1>
<div th:switch="${students}">
  <h2 th:case="null">No students yet!</h2>
  <div th:case="*">
    <h2>Students</h2>
    <table style="border: 1px solid">
      <thead>
      <tr>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>
        <th>Student number</th>
        <th>Is international?</th>
        <th>Date of enrollment</th>
        <th>Cumulative GPA</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="student : ${students}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.middleName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.studentNumber}"></td>
        <td th:text="${student.isInternational}"></td>
        <td th:text="${student.dateOfEnrollment}"></td>
        <td th:text="${student.cgpa}"></td>
        <td><a th:href="@{/edit/{id}(id=${student.studentId})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${student.studentId})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/signup">Add a new user</a></p>
</div>
</body>
</html>